@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 600px
  .booking
    width: 340px
  .card
    width: 230px
    height: 230px

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
    width: 92%
  .navbar
    &__search
      margin-left: auto  
  .hotel
    &-slider
      width: 100%
    &__block
      display: flex
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-between
      width: 100%
      margin-top: 30px
    &__map
      width: 340px
      height: 210px
  .reviews
    &-slider
      &__card
        max-width: 580px
      &__text
        width: 87%
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px

@media (max-width: 768px)    
  .navbar
    &-top      
      padding: 30px 0
      &__logo
        width: 132px        
    &__search
      margin-left: 47px
    &-bottom
      padding: 22px 0    
    &-menu
      justify-content: center
      &__link        
        font-size: 12px
        line-height: 15px
        &:not(:last-child)
          margin-right: 25px          
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &__block
      display: flex    
    &-slider
      &__button
        transform: translateY(-30%)  
  .booking       
    padding: 28px 22px  
  .reviews
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__card
        padding: 54px 30px 30px
        &:before,
        &:after
          display: none
      &__button
        top: 162px        
        &_prev          
          transform: translate(-50%, 0)
        &_next
          right: 15px          
          transform: translate(50%, 0)            
  .activities
    padding: 54px 0 60px 0    
  .card
    width: 49%
    height: 255px
  
@media (max-width: 760px)
  .hotel    
    &__block
      display: flex                        
      width: 100%      
    &__map
      width: 100%      
      margin-top: 20px
  .user
    &__name
      display: none
  .booking
    width: 100%
  .newsletter    
    &-subscribe
      width: 280px
  .reviews
    &-slider
      &__card
        padding: 54px 30px 30px
        &:before,
        &:after
          display: none
      &__button
        top: 35px        
        &_prev
          left: 50%          
          margin-left: -65px
          transform: translate(-50%, 0)
        &_next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
      &__text
        max-width: 455px

@media (max-width: 740px)  
  .navbar-menu
    &__link
      font-weight: 400
      font-size: 10px
  .reviews
    padding-bottom: 50px    
    &-slider      
      &__card
        max-width: 580px
      &__text
        width: 100%      

@media (max-width: 640px)
  .container
    max-width: 500px
    width: 92%
  .navbar   
    &-top
      padding: 28px 0      
      &__logo
        width: 99px
    &-bottom, &__search, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px      
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
        &:not(:last-child)
          margin-bottom: 4px          
  .stars
    flex-basis: auto
  .hotel
    padding-bottom: 40px
    &-slider
      height: 350px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin: 10px 0 0 0
      &__rating
        display: none
      &__offer
        margin-left: 0
        order: -1
      &__description
        padding-bottom: 38px  
  .newsletter    
    &-wrapper
      height: 160px
      flex-direction: column
      align-items: flex-start
    &-title         
    &__subscribe
      font-size: 20px
      line-height: 25px
      margin-bottom: 5px
    &__strong
      font-size: 30px
      line-height: 38px     

@media (max-width: 480px)
  .container
    max-width: 280px
  .hotel
    padding: 5px 0 40px 0
    &-stars
      margin-left: 145px
      margin-right: auto
    &-info
      &__offer
        margin-top: 0
    &-slider
      height: 175px
      &__button
        &-icon
          width: 4px
          height: 7px
        &_prev
          left: 5px
        &_next
          right: 5px
    &__block
      margin-top: 25px
    &__map
      max-height: 172px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-wrapper
      width: 88%
    &__subscribe
      font-size: 20px
      line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
    &-subscribe
      &__input
        padding-left: 20px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__button
        &_prev
          left: 40%
          margin-left: -65px
          transform: translate(-50%, 0)
        &_next
          right: 40%
          margin-right: -65px
          transform: translate(50%, 0)      
  .card
    width: 100%
  .activities
    padding-top: 48px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    
