@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 600px
  .booking
    width: 340px

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
    width: 92%
  .navbar
    &__search
      margin-left: auto  
  .hotel
    &-slider
      width: 100%
    &__block
      display: flex
      flex-wrap: wrap
      flex-direction: row
      justify-content: space-between
      width: 100%
      margin-top: 30px
    &__map
      width: 340px
      height: 210px
  .review
    &-slide
      &__card
        max-width: 580px
    &-text
      width: 78%

@media (max-width: 768px)    
  .navbar
    &-top      
      padding: 30px 0
      &__logo
        width: 132px        
    &__search
      margin-left: 47px
    &-bottom
      padding: 22px 0    
    &-menu
      justify-content: center
      &__link        
        font-size: 12px
        line-height: 15px
        &:not(:last-child)
          margin-right: 25px          
  .search
    &__input
      width: 340px
  .hotel
    &__block
      display: flex                        
      width: 100%      
    &__map      
      height: 210px
    &-slider
      &__button
        transform: translateY(-30%)
  .booking    
    padding: 28px 22px
  
  
@media (max-width: 760px)
  .hotel
    padding-bottom: 60px
    &__block      
      margin-top: 20px
    &__map
      width: 100%
      height: 210px
      margin-top: 20px
  .user
    &__name
      display: none
  .booking
    width: 100%
  .newsletter    
    &-subscribe
      width: 280px  

@media (max-width: 740px)  
  .navbar-menu
    &__link
      font-weight: 400
      font-size: 10px
  .review
    &-slide      
      &__card
        max-width: 580px
    &-button
      top: 13% !important
      &_prev
        left: 240px
      &_next
        right: 240px

@media (max-width: 640px)
  .container
    max-width: 500px
    width: 92%
  .navbar   
    &-top
      padding: 28px 0      
      &__logo
        width: 99px
    &-bottom, &__search, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px      
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
        &:not(:last-child)
          margin-bottom: 4px          
  .stars
    flex-basis: auto
  .hotel
    padding-bottom: 40px
    &-slider
      height: 350px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin: 10px 0 0 0
      &__rating
        display: none
      &__offer
        margin-left: 0
        order: -1
      &__description
        padding-bottom: 38px  
  .newsletter    
    &-wrapper
      height: 160px
      flex-direction: column
      align-items: flex-start
    &-title         
    &__subscribe
      font-size: 20px
      line-height: 25px
      margin-bottom: 5px
    &__strong
      font-size: 30px
      line-height: 38px    

@media (max-width: 480px)
  .container
    max-width: 280px
  .hotel
    padding: 5px 0 20px 0
    &-stars
      margin-left: 145px
      margin-right: auto
    &-info
      &__offer
        margin-top: 0
    &-slider
      height: 175px
      &__button
        &-icon
          width: 4px
          height: 7px
        &_prev
          left: 5px
        &_next
          right: 5px
  
