.reviews
  padding: 40px 0 70px 0
  &__title
    margin: 0
    margin-bottom: 70px
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    color: $text-color         
  &-slider                   
    &__card
      display: flex
      flex-direction: column
      align-items: center      
      max-width: 730px
      margin: auto           
      padding: 54px 62px 30px     
      margin-top: 45px
      position: relative
      border-radius: 8px      
      background-color: #ffffff
      &:before
        content: ''
        position: absolute
        top: 13px
        left: 62px
        width: 70px
        height: 47px
        background-image: url(../img/quote-left.svg)
        background-repeat: no-repeat
      &:after
        content: ''
        position: absolute
        top: 118px        
        right: 62px
        width: 70px
        height: 47px
        background-image: url(../img/quote-right.svg)
        background-repeat: no-repeat   
    &__header
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 30px      
    &__avatar      
      width: 90px
      height: 90px
      position: absolute
      border-radius: 50%
      object-fit: cover
      top: -45px
      margin-bottom: 9px
    &__name
      margin: 0
      margin-bottom: 10px
      font-weight: bold
      font-size: 12px
      line-height: 15px
      color: $primary
    &__date
      margin-bottom: 4px
      font-weight: normal
      font-size: 10px
      line-height: 13px
    &__text
      width: 540px      
      margin: auto
      text-align: justify
      font-weight: normal
      font-size: 12px
      line-height: 160%                
    &__button
      position: absolute
      top: 46%
      z-index: 10
      transform: translateY(-50%)
      border: none
      background-color: transparent
      cursor: pointer
      &_prev
        left: 20px
      &_next
        right: 20px
      &-icon
        width: 10px
        height: 18px
        fill: $grey
        fill-opacity: 0.8      
  &-stars
    display: flex
    align-items: center        
    &__icon
      width: 8px
      height: 8px      
      &:not(:last-child)
        margin-right: 2px
